<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>checkimg</display-name>
        <servlet-name>checkimg</servlet-name>
        <servlet-class>com.ig.web.CheckImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkimg</servlet-name>
        <url-pattern>/checkimg</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CheckCodeServlet</display-name>
        <servlet-name>CheckCodeServlet</servlet-name>
        <servlet-class>com.ig.web.CheckCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckCodeServlet</servlet-name>
        <url-pattern>/checkcode</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoggerServlet</display-name>
        <servlet-name>LoggerServlet</servlet-name>
        <servlet-class>com.ig.web.LoggerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoggerServlet</servlet-name>
        <url-pattern>/logger</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CheckUserNameServlet</display-name>
        <servlet-name>CheckUserNameServlet</servlet-name>
        <servlet-class>com.ig.web.CheckUserNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserNameServlet</servlet-name>
        <url-pattern>/checkusername</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ActivityServlet</display-name>
        <servlet-name>ActivityServlet</servlet-name>
        <servlet-class>com.ig.web.ActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/activity</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>BaseServlet</display-name>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>com.ig.web.ActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/base</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DefaultServlet</display-name>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>com.ig.web.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>UserServlet</display-name>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.ig.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <filter>
        <display-name>UserLoginPrivilegeFilter</display-name>
        <filter-name>UserLoginPrivilegeFilter</filter-name>
        <filter-class>com.ig.web.UserLoginPrivilegeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserLoginPrivilegeFilter</filter-name>
        <url-pattern>/privilege/*</url-pattern>
    </filter-mapping>
</web-app>